lib/**/*.json
lib/nlp/stemmers/**/*.js
coverage/**
toto.js
node_modules
dist
docs/v3/static/scripts
packages/python-compiler/src/python-executer.js
packages/express-api-server/src/public/**/*.*